<div class="containers">
    <div class="bg">
        <img src="assets/img/6.jpg" alt="">
    </div>
    <footer>

        <div class="bao">
            <div class="quick">
                <h2 >About US</h2>
                <div class="flex">
                    <div>
                        <li>Trụ Sở Chính: </li>
                        <li>Hotline:</li>
                        <li>Email:</li>
                    </div>
                    <div class="ii" >
                        <li>Ho Chi Minh City</li>
                        <li>039 821 5896</li>
                        <li>htien2740@gmail.com</li>
        
                    </div>
                </div>
              
             
            </div>
            <div class="follow">
                <h2 >Follow Me</h2>
                <div class="flex1">
                    <div>
                        <li><a href="#"><i class="fa-brands fa-facebook"></i>Facebook</a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter"></i>Twiter</a></li>
                        <li><a href="#"><i class="fa-brands fa-youtube"></i>Youtube</a></li>        
                    </div>
                    <div >
                        <li><a href="#"><i class="fa-brands fa-instagram"></i>Instagram</a></li>
                        <li><a href="#"><i class="fa-brands fa-github"></i>Github</a></li>
                    </div>
                </div>
            </div>
            
        </div>

        <!-- tesst -->
        <!-- <audio #audioPlayer src="assets/music/bai1.mp3" (timeupdate)="updateLyrics(audioPlayer)" controls >
            Your browser does not support the audio tag.
          </audio>
          
          <div id="lyrics">
            <ul>
              <li *ngFor="let lyric of lyrics" [class.current]="lyric.highlighted">{{ lyric.text }}</li>
            </ul>
          </div> -->
                    
          
          
          
        <!-- tesst -->
            <h1>Map Location</h1>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.761325890504!2d106.67939087490852!3d10.829568489322419!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528feb59c340b%3A0xe2e2b7f26413aa9e!2zUGjGsOG7nW5nIDcsIEfDsiBW4bqlcCwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1685166298749!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    
    
    </footer>
    
</div>