.carousel-item {
  width: 100%;
  height: 450px;
  overflow: hidden;
}
.slideShow {
  margin-top: 80px;
}
h1.gradient {
  background: linear-gradient(to right, #9b4de0, #aa06a5da);
  margin-top: 85px;
  width: fit-content;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  padding-bottom: 15px;
}
h1.gradient::before {
  position: absolute;
  content: "";
  bottom: 0;
  width: 50%;
  height: 5px;
  background: linear-gradient(to right, #9b4de0, #aa06a5da);
  border-radius: 30px;
  left: 30%;
  transform: translateX(-50%);
}
h1.gradient::after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 30%;
  height: 5px;
  background: linear-gradient(to right, #9b4de0, #aa06a5da);
  border-radius: 30px;
  right: 0;
  transform: translateX(-10%);
}
.listSearch {
  margin-top: 30px;
}
.listItem {
  display: grid;
  grid-template-columns: 50% 40% 10%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #ffffff0c;
  border-radius: 8px;
  padding: 10px 0;
  margin-bottom: 10px;
}
.listItem:hover {
  background: #ffffff1d;
}
.title {
  display: flex;
  align-items: center;
}
.id p {
  font-size: 45px;
  font-weight: bold;
  color: #fff;
  margin: 0;
  padding-left: 20px;
  background: linear-gradient(#9b4de0, #aa06a5da);
  width: fit-content;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.img {
  width: 55px;
  height: 55px;
  overflow: hidden;
  margin: 0 25px;
  border-radius: 10px;
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text p {
  margin: 0;
  padding: 0;
}
.text p:nth-child(1) {
  font-size: 20px;
  color: #fff;
}
.text p:nth-child(2) {
  color: #ffffff60;
}

.newPlay {
  background: #130c1c;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px 0;
  transition: transform 0.5s ease-in-out;
  transform: translateX(200%);
  cursor: pointer;

}
.bao11 {
  display: flex;
  align-items: center;
}
.img1 {
  width: 65px;
  height: 65px;
  border-radius: 10px;
  overflow: hidden;
}
.img1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bao1 {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
}
.bao11 {
  display: flex;
  align-items: center;
}
.souce {
  display: flex;
  align-items: center;
}
.text1 {
  color: #fff;
  margin: 0 20px;
  font-size: 20px;
}
.text p,.text1 p {  
  font-size: 15px;
  padding: 0;
  font-weight: 300;
  margin: 0;
}
.text p:nth-child(2) {
  color: #ffffff6e;
  font-size: 18px;
}
audio {
  width: 80%;
}
audio::-webkit-media-controls-panel {
  background: linear-gradient(to right, #9b4de0, #aa06a5da);
}

@media screen and (max-width: 820px) {
  .id p{
    padding: 0;
  }
  .title .img{
    margin: 0;
  }
  .title{
    display: grid;
    grid-template-columns: 10% 19% 80%;
  }
  .text p:nth-child(1) {
    font-size: 16px;
}
  .text p:nth-child(2) {
    font-size: 14px;
}
  .newPlay {
    width: 50%;
    bottom: 110px;

    right: 10px;
    left: unset;
    padding: 12px;
    border-radius: 10px;
    border-left: 4px solid #aa06a5da;
    cursor: pointer;
    overflow: hidden;
  }
  .bao1 {
    grid-template-columns: 100%;
  }
    audio{
    height: 30px;
    width: 100%;
  }
  .img1{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
    filter: blur(20px);
  }
}

@media screen and (max-width: 480px) {
  .id p{
    padding: 0;
  }
  .containers{
    padding: 0;
    margin: 0;
  }
  
  .carousel-inner{
    height: 250px;
  }
  .title{
    justify-content: left;
  }

  .listItem {
    grid-template-columns: 100%;
  }
  .id p {
    padding: 0;
  }
  .none {
    display: none;
  }
  .text {
    width: fit-content;
    white-space: none;
  }
  .newPlay {
    width: 50%;
    bottom: 10px;
    right: 10px;
    left: unset;
    border-radius: 10px;
    border-left: 4px solid #aa06a5da;
    cursor: pointer;
    overflow: hidden;
    /* position: relative; */
  }
  .bao1 {
    grid-template-columns: 100%;
  }
    audio{
    height: 30px;
    width: 100%;
  }
  .img1{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
    filter: blur(20px);
  }

}