<div class="containers">
    <div class="containerss">
      <div class="banner">
        <div class="banner_img">
          <img src="assets/img/bai4.jpg" />
        </div>
        <h1 class="gadien">Genres</h1>
      </div>
      <h2 style="margin-top: 20px; font-size: 25px; color: #fff;">Thể Loại</h2>
      <div class="show_list">
        <div class="item" (click)="link1('tatca')">
          <img src="assets/img/n1.jpg" />
          <p>Nhạc Trẻ</p>
        </div>
        <div class="item" (click)="link1('ballad')">
          <img src="assets/img/n2.jpg" />
          <p>Top Ballad</p>
        </div>
        <div class="item" (click)="link1('list3')">
          <img src="assets/img/n3.jpg" />
          <p>Nhạc Cổ Điển</p>
        </div>
        <div class="item" (click)="link1('chill')">
          <img src="assets/img/n4.jpg" />
          <p> Nhạc Chill</p>
        </div>
      </div>
      <h2 style="margin-top: 20px;font-size: 25px; color: #fff;">Quốc Gia</h2>
      <div class="show_list">
        <div class="item" (click)="link()">
          <img src="assets/img/4.jpg" />
          <p>Nhạc Việt</p>
  
        </div>
        <div class="item" (click)="link()">
          <img src="assets/img/6.jpg" />
          <p>Nhạc Âu Mỹ</p>
  
        </div>
        <div class="item" (click)="link()">
          <img src="assets/img/7.jpg" />
          <p>Nhạc Hàn</p>
  
        </div>
        <div class="item" (click)="link()">
          <img src="assets/img/8.jpg" />
          <p>Nhạc Hoa</p>
  
        </div>
      </div>
    </div>
  </div>
  