<div class="containers">
    <div class="containerss">
      <div class="banner">
        <div class="banner_img">
          <img src="assets/img/bai4.jpg" />
        </div>
        <h1 class="gadien">{{ 'Genres' | translate }}</h1>
      </div>
      <h2 style="margin-top: 20px; font-size: 25px; color: #fff;">{{ 'Genres' | translate }}</h2>
      <div class="show_list">
        <div class="item" (click)="link1('tatca')">
          <img src="assets/img/n1.jpg" />
          <p>{{ 'New Music' | translate }}</p>
        </div>
        <div class="item" (click)="link1('ballad')">
          <img src="assets/img/n2.jpg" />
          <p>{{ 'Top Ballad' | translate }}</p>
        </div>
        <div class="item" (click)="link1('list3')">
          <img src="assets/img/n3.jpg" />
          <p>{{ 'Classic Music' | translate }}</p>
        </div>
        <div class="item" (click)="link1('chill')">
          <img src="assets/img/n4.jpg" />
          <p> {{ 'Chill Music' | translate }} </p>
        </div>
      </div>
      <h2 style="margin-top: 20px;font-size: 25px; color: #fff;">{{ 'Country' | translate }}</h2>
      <div class="show_list">
        <div class="item" (click)="link()">
          <img src="assets/img/4.jpg" />
          <p style="text-align: center;"> {{ 'Vietnamese Music' | translate }}</p>

  
        </div>
        <div class="item" (click)="link()">
          <img src="assets/img/6.jpg" />
          <p> {{ 'US Music' | translate }}</p>
  
        </div>
        <div class="item" (click)="link()">
          <img src="assets/img/7.jpg" />
          <p> {{ 'Korean Music' | translate }}</p>
  
        </div>
        <div class="item" (click)="link()">
          <img src="assets/img/8.jpg" />
          <p style="text-align: center;">{{ 'Chinese Music' | translate }}</p>
  
        </div>
      </div>
    </div>
  </div>
  