<div class="containers">
  <div class="containerss">
    <div class="banner">
      <div class="banner_img">
        <img src="assets/img/bai7.jpg" />
      </div>
      <h1 class="gadien">Latest Albums</h1>
    </div>
    <h2 style="margin-top: 20px; font-size: 25px; color: #fff;">Outstanding</h2>
    <div class="show_list">
      <div class="item" (click)="link('tatca')">
        <img src="assets/img/1.jpg" />
        <p>New Music</p>
      </div>
      <div class="item" (click)="link('ballad')">
        <img src="assets/img/2.jpg" />
        <p>Top 100</p>
      </div>
      <div class="item" (click)="link('list2')">
        <img src="assets/img/3.jpg" />
        <p>Artist's Story</p>
      </div>
      <div class="item" (click)="link('list1')">
        <img src="assets/img/5.jpg" />
        <p>Chill</p>
      </div>
    </div>
    <h2 style="margin-top: 20px;font-size: 25px; color: #fff;">Country</h2>
    <div class="show_list">
      <div class="item" (click)="link('tatca')">
        <img src="assets/img/4.jpg" />
        <p style="text-align: center;">Vietnamese Music</p>

      </div>
      <div class="item" (click)="link('tatca')">
        <img src="assets/img/6.jpg" />
        <p>US Music</p>

      </div>
      <div class="item" (click)="link('tatca')">
        <img src="assets/img/7.jpg" />
        <p>Korean Music</p>

      </div>
      <div class="item" (click)="link('tatca')">
        <img src="assets/img/8.jpg" />
        <p>Chinese Music</p>

      </div>
    </div>
  </div>
</div>
