<div class="containers">
  <div class="containerss">
    <div class="banner">
      <div class="banner_img">
        <img src="assets/img/bai7.jpg" />
      </div>
      <h1 class="gadien">Latest Albums</h1>
    </div>
    <h2 style="margin-top: 20px; font-size: 25px; color: #fff;">Nổi Bật</h2>
    <div class="show_list">
      <div class="item" (click)="link()">
        <img src="assets/img/1.jpg" />
        <p>Nhạc Mới</p>
      </div>
      <div class="item" (click)="link()">
        <img src="assets/img/2.jpg" />
        <p>Top 100</p>
      </div>
      <div class="item" (click)="link()">
        <img src="assets/img/3.jpg" />
        <p>Artist's Story</p>
      </div>
      <div class="item" (click)="link()">
        <img src="assets/img/5.jpg" />
        <p>Chill/Thư Giản</p>
      </div>
    </div>
    <h2 style="margin-top: 20px;font-size: 25px; color: #fff;">Quốc Gia</h2>
    <div class="show_list">
      <div class="item" (click)="link()">
        <img src="assets/img/4.jpg" />
        <p>Nhạc Việt</p>

      </div>
      <div class="item" (click)="link()">
        <img src="assets/img/6.jpg" />
        <p>Nhạc Âu Mỹ</p>

      </div>
      <div class="item" (click)="link()">
        <img src="assets/img/7.jpg" />
        <p>Nhạc Hàn</p>

      </div>
      <div class="item" (click)="link()">
        <img src="assets/img/8.jpg" />
        <p>Nhạc Hoa</p>

      </div>
    </div>
  </div>
</div>
