<div class="containers">
    <!-- list 1 -->
    <div class="showlistItem">
        <div class="title">
            <h1>{{'# Album Top Music' | translate}}</h1>
        </div>
        <div class="listItem" >
            <div class="item1" (click)="link()">
                <div class="img">
                    <img src="assets/img/bai1.jpg" alt="">
                </div>
                <div class="text">
                    <h4 style="color: #fff; font-weight: 700;margin: 10px 0;"> {{'Top Music' | translate}} 2023</h4>
                    <p style="font-size: 18px; color: #ffffff46;">{{'Various Artists' | translate}} </p>
                </div>
            </div>
            <div class="item1"(click)="link()">
                <div class="img">
                    <img src="assets/img/bai2.jpg" alt="">
                </div>
                <div class="text">
                    <h4 style="color: #fff; font-weight: 700;margin: 10px 0;">{{'Top Music' | translate}} 2022</h4>
                    <p style="font-size: 18px; color: #ffffff46;">{{'Various Artists' | translate}}</p>
                </div>
            </div>
            <div class="item1"(click)="link()">
                <div class="img">
                    <img src="assets/img/bai3.jpg" alt="">
                </div>
                <div class="text">
                    <h4 style="color: #fff; font-weight: 700;margin: 10px 0;">{{'Top Music' | translate}} 2021</h4>
                    <p style="font-size: 18px; color: #ffffff46;">{{'Various Artists' | translate}}</p>
                </div>
            </div>
            <div class="item1"(click)="link()">
                <div class="img">
                    <img src="assets/img/bai4.jpg" alt="">
                </div>
                <div class="text">
                    <h4 style="color: #fff; font-weight: 700;margin: 10px 0;">{{'Top Music' | translate}} 2020</h4>
                    <p style="font-size: 18px; color: #ffffff46;">{{'Various Artists' | translate}}</p>
                </div>
            </div>
            
        </div>
    </div>
    <!-- list 2 -->
    <div class="showlistItem" style="margin-top: 30px;">
        <div class="title">
            <h1># Album EDM</h1>
        </div>
        <div class="listItem">
            <div class="item1"(click)="link()">
                <div class="img">
                    <img src="assets/img/bai7.jpg" alt="">
                </div>
                <div class="text">
                    <h4 style="color: #fff; font-weight: 700;margin: 10px 0;">{{'EDM Top' | translate}} 2023</h4>
                    <p style="font-size: 18px; color: #ffffff46;">{{'Various Artists' | translate}}</p>
                </div>
            </div>
            <div class="item1"(click)="link()">
                <div class="img">
                    <img src="assets/img/bai8.jpg" alt="">
                </div>
                <div class="text">
                    <h4 style="color: #fff; font-weight: 700;margin: 10px 0;">{{'EDM Top' | translate}} 2022</h4>
                    <p style="font-size: 18px; color: #ffffff46;">{{'Various Artists' | translate}}</p>
                </div>
            </div>
            <div class="item1"(click)="link()">
                <div class="img">
                    <img src="assets/img/bai9.jpg" alt="">
                </div>
                <div class="text">
                    <h4 style="color: #fff; font-weight: 700;margin: 10px 0;">{{'EDM Top' | translate}} 2021</h4>
                    <p style="font-size: 18px; color: #ffffff46;">{{'Various Artists' | translate}}</p>
                </div>
            </div>
            <div class="item1"(click)="link()">
                <div class="img">
                    <img src="assets/img/bai6.jpg" alt="">
                </div>
                <div class="text">
                    <h4 style="color: #fff; font-weight: 700;margin: 10px 0;">{{'EDM Top' | translate}} 2020</h4>
                    <p style="font-size: 18px; color: #ffffff46;">{{'Various Artists' | translate}}</p>
                </div>
            </div>
            
        </div>
    </div>

</div>
