<div class="body">
  <div class="navbar1">
    <div class="logo">
      <a href="" routerLink=""><p style="color: #fff; margin-top: 20px;">Sound Club</p></a>
    </div>
    <div class="showNav">
      <ul>
        <li class="active">
          <a href="" routerLink="trending">
            <i class="fa-solid fa-house"></i>Trending Now</a
          >
        </li>
        <li>
          <a href="" routerLink="listtrending"
            ><i class="fa-solid fa-sliders"></i>Top Charts</a
          >
        </li>
        <li>
          <a href="" routerLink="banphathanh">
            <i class="fa-solid fa-spinner"></i>New Releases</a
          >
        </li>
        <li>
          <a href="" routerLink="album"><i class="fa-solid fa-camera-retro"></i>Latest Albums</a>
        </li>
        <li>
          <a href=""><i class="fa-brands fa-teamspeak"></i>Genres</a>
        </li>
        <li>
          <a href=""> <i class="fa-solid fa-music"></i>Old Song</a>
        </li>
        <li>
          <a href="" routerLink="toparti"
            ><i class="fa-solid fa-chart-simple"></i>Top Artists</a
          >
        </li>
        <li>
          <a href="" routerLink="topsearch"
            ><i class="fa-brands fa-intercom"></i>Top Searched Songs</a
          >
        </li>
      </ul>
    </div>
    <div class="login">
      <ul class="border1">
        <li><a href="">LANGUAGES</a></li>
      </ul>
      <button *ngIf="!isUserLoggedIn" routerLink="login">
        Login
      </button>
      <button *ngIf="isUserLoggedIn" (click)="logout()">Logout</button>
    </div>
  </div>
</div>

<div class="search">
  <div class="containers">
    <div class="arrow">
      <i class="fa-solid fa-arrow-left"></i>
      <i class="fa-solid fa-arrow-right"></i>
    </div>
  </div>
  <div class="searchIP">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="search" placeholder="Search..." />
  </div>
</div>
<router-outlet></router-outlet>
