<div class="body">
  <div class="navbar1">
    <div class="logo">
      <a routerLink="/"
        ><p style="color: #fff; margin-top: 20px">SoundBlast</p></a
      >
    </div>
    <div class="showNav">
      <ul class="ooo">
        <li class="active">
          <a routerLink="/trending">
            <i class="fa-solid fa-house"></i>
            <p class="none">Trending Now</p></a
          >
        </li>
        <li>
          <a routerLink="/listtrending"
            ><i class="fa-solid fa-sliders"></i>
            <p class="none">Top Charts</p></a
          >
        </li>
        <li>
          <a routerLink="/banphathanh">
            <i class="fa-solid fa-spinner"></i>
            <p class="none">New Releases</p></a
          >
        </li>
        <li>
          <a routerLink="/album"
            ><i class="fa-solid fa-camera-retro"></i>
            <p class="none">Latest Albums</p>
          </a>
        </li>
        <li>
          <a routerLink="/genres"
            ><i class="fa-brands fa-teamspeak"></i>
            <p class="none">Genres</p></a
          >
        </li>
        <li>
          <a routerLink="/oldsong">
            <i class="fa-solid fa-music"></i>
            <p class="none">Old Song</p></a
          >
        </li>
        <li>
          <a routerLink="/toparti"
            ><i class="fa-solid fa-chart-simple"></i>
            <p class="none">Top Artists</p>
          </a>
        </li>
        <li>
          <a routerLink="/topsearch"
            ><i class="fa-brands fa-intercom"></i>
            <p class="none">Top Searched Songs</p></a
          >
        </li>
        <li>
          <a routerLink="/product"
            ><i class="fa-solid fa-film"></i>
            <p class="none">PlayList</p></a
          >
        </li>
      </ul>
    </div>
    <div class="login">
      <ul class="border1" class="none">
        <li><a href="">LANGUAGES</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="search">
  <div class="containers">
    <div class="containerss">
      <div class="logo bb">
        <a routerLink=""><p style="color: #fff">Sound Club</p></a>
      </div>
      <div class="arrow">
        <i class="fa-solid fa-arrow-left"></i>
        <i class="fa-solid fa-arrow-right"></i>
      </div>

      <div class="searchIP">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="search" placeholder="Search..." />
      </div>

      <div class="respo" #block>
        <button *ngIf="!isUserLoggedIn" routerLink="/login" class="btnn">
          Login
        </button>
      </div>
      <div class="admin" #check1>
        <button (click)="admin()" class="none">User Management</button>
      </div>
      <div class="profile" style="margin-left: 40px" #check>
        <div class="imgUser">
          <img [src]="img" alt="" />
        </div>
        <div class="box_option">
          <div class="box_option-arrow"></div>
          <div class="box_option-text">
            <ul>
              <li><a class="ee" href="" routerLink="profile"> Profile </a></li>
              <li><a class="ee eee" href="" routerLink="admin" #check1 > User Management </a></li>
              <li><a class="ee" href="" (click)="logout()"> Logout </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="chatbox">
  <div class="bodychatbox" #open>
    <div class="titlechat">
      <div class="titlechatbox">
        <div class="hinh_title">
          <img src="assets/img/bai1.jpg" alt="" />
        </div>
      </div>
      <h1 style="font-size: 18px; font-weight: 500; color: #9b4de0">
        ChatBox Sound Club
      </h1>
      <button (click)="closechat()" style="background: none; border: none">
        <i
          class="fa-solid fa-circle-xmark"
          style="width: 30px; height: 30px; font-size: 18px; color: #9b4de0"
        ></i>
      </button>
    </div>
    <form
      #sendform="ngForm"
      (ngSubmit)="sendmessage(sendform.value); sendform.reset()"
    >
      <div class="showchat" *ngIf="checkopen">
        <div class="showchat1" *ngFor="let x of message">
          {{ x.message }}
        </div>
      </div>
      <div class="send_btn">
        <input type="text" ngModel name="message" placeholder="Message..." />
        <button type="submit">Send</button>
      </div>
    </form>
  </div>
  <div class="iconchatbox">
    <button id="btn_chatbox" (click)="openchat()">Chat Now</button>
  </div>
</div>
<router-outlet></router-outlet>
