<div class="containers">
  <div class="loginbox">
    <div class="containerss">
        <div class="containerss_bg">
            <img src="assets/img/bg.jpg" alt="">
        </div>
        <p>Sound Blast</p>
    </div>
    <div class="box">
        <div class="box_bg">
            <img src="assets/img/bg2.jpg" alt="">
        </div>
      <div class="box1">
        <div class="title">
          <h1  [class.active]="activeTab === 0" (click)="setActiveTab(0)">{{ 'Login' | translate }}</h1>
          <h1 [class.active]="activeTab === 1" (click)="setActiveTab(1)">{{ 'Resgiter' | translate }}</h1>
        </div>
        <div class="chung">

            <div id="loginform" *ngIf="activeTab === 0">
                <form [formGroup]="formlogin" (submit)="login(formlogin)">
                    <div class="formIP" [class.error]="formlogin.controls['id'].dirty && formlogin.hasError('required', 'id')">
                        <i class="fa-solid fa-user"></i>
                        <input type="text" formControlName="id" placeholder="Username...">
                    </div>
                    <small *ngIf="formlogin.controls['id'].dirty && formlogin.hasError('required', 'id')" class="text-danger">Username required</small>
                    <div class="formIP">
                        <i class="fa-solid fa-key"></i>
                        <input type="password" formControlName="password" placeholder="Password...">
                    </div>
                    <small *ngIf="formlogin.controls['password'].dirty && formlogin.hasError('required', 'password')" class="text-danger">Password required</small>
                    <div class="link">
                        <button type="submit" [disabled]="isWaitingForResponse">
                            <ng-container *ngIf="!isWaitingForResponse; else loadingAnimation">
                                {{ 'Login' | translate }}
                            </ng-container>
                        </button>
                        <ng-template #loadingAnimation>
                            <div class="animation-container">
                                <i class="fa-solid fa-spinner fa-spin" ></i>
                            </div>
                        </ng-template>
                        <div class="div">
                            <a href="#taomoiform">{{ 'Register Account' | translate }} <i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                </form>
            </div>
            
            
           
                <div id="taomoiform" *ngIf="activeTab === 1">
                    <form  (ngSubmit)="register(formres)"  [formGroup]="formres">
                        <div class="formIP">
                            <input type="text" formControlName="firstName"  placeholder="Firstname..." style="padding-left: 10px;margin-right: 10px;">
                            <input type="text" formControlName="lastName"  placeholder="Lastname..." style="padding-left: 10px;margin-left: 10px;">
                        </div>
                        <small *ngIf="formres.controls['firstName'].dirty && formres.hasError('required', 'firstName')" class="text-danger">Fistname & Lastname required</small>

                        <div class="formIP">
                            <i class="fa-solid fa-user"></i>
                            <input type="text" formControlName="id"  placeholder="Username...">
                        </div>
                        <small *ngIf="formres.controls['id'].dirty && formres.hasError('required', 'id')" class="text-danger">Username required</small>

                        <div class="formIP">
                            <i class="fa-solid fa-envelope"></i>
                            <input type="email" formControlName="email"  placeholder="Email...">
                        </div>
                        <small *ngIf="formres.controls['email'].dirty && formres.hasError('required', 'email')" class="text-danger">Email required</small>

                        <div class="formIP" [class.error]="formres.controls['password'].dirty && formres.hasError('required', 'password')">
                            <i class="fa-solid fa-key"></i>
                            <input type="password" formControlName="password"  placeholder="Password...">
                        </div>
                        <small *ngIf="formres.controls['password'].dirty && formres.hasError('required', 'password')" class="text-danger">Password required</small>

                        <div class="formIP">
                            <i class="fa-solid fa-key"></i>
                            <input type="password" formControlName="confirmPassword"  placeholder="Confirm Password...">
                        </div>
                        <small *ngIf="formres.controls['confirmPassword'].dirty && formres.hasError('required', 'confirmPassword')" class="text-danger">ConfirmPassword required</small>
                        
                        <div class="link">
                            <!-- <button type="submit">{{ 'Resgiter' | translate }}</button> -->
                            <button type="submit" [disabled]="isWaitingForResponse">
                                <ng-container *ngIf="!isWaitingForResponse; else loadingAnimation">
                                    {{ 'Resgiter' | translate }}
                                </ng-container>
                            </button>
                            <ng-template #loadingAnimation>
                                <div class="animation-container">
                                    <i class="fa-solid fa-spinner fa-spin" ></i>
                                </div>
                            </ng-template>
                            <div class="div">
                            <a href="#loginform">{{ 'Login Account' | translate }} <i class="fa-solid fa-arrow-right"></i></a>
                           </div> 
                        </div>
                    </form>
                    
                </div> 
            
    
        </div>
      </div>
    </div>
  </div>
</div>
