<div class="containers">
  <div class="loginbox">
    <div class="containerss">
        <div class="containerss_bg">
            <img src="assets/img/bg.jpg" alt="">
        </div>
        <p>Sound Blast</p>
    </div>
    <div class="box">
        <div class="box_bg">
            <img src="assets/img/bg2.jpg" alt="">
        </div>
      <div class="box1">
        <div class="title">
          <h1  [class.active]="activeTab === 0" (click)="setActiveTab(0)">Login</h1>
          <h1 [class.active]="activeTab === 1" (click)="setActiveTab(1)">Resgiter</h1>
        </div>
        <div class="chung">

                <div id="loginform" *ngIf="activeTab === 0">
                    <form #loginf="ngForm" (ngSubmit)="login(loginf)">
                        <div class="formIP">
                            <i class="fa-solid fa-user"></i>
                            <input type="text" name="id" ngModel placeholder="Username..." required>
                        </div>
                        <div class="formIP">
                            <i class="fa-solid fa-key"></i>
                            <input type="password" name="password" ngModel placeholder="Password..." required>
                        </div>
                        <div class="link">
                            <button type="submit">Login</button>
                           <div class="div">
                            <a href="">Login Account <i class="fa-solid fa-arrow-right"></i></a>
                           </div> 
                        </div>
                    </form>
                </div>
            
           
                <div id="taomoiform" *ngIf="activeTab === 1">
                    <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
                        <div class="formIP">
                            <input type="text" name="firstName" ngModel placeholder="Firstname..." style="padding-left: 10px;margin-right: 10px;">
                            <input type="text" name="lastName" ngModel placeholder="Lastname..." style="padding-left: 10px;margin-left: 10px;">
                        </div>
                        <div class="formIP">
                            <i class="fa-solid fa-user"></i>
                            <input type="text" name="id" ngModel placeholder="Username...">
                        </div>
                        <div class="formIP">
                            <i class="fa-solid fa-envelope"></i>
                            <input type="email" name="email" ngModel placeholder="Email...">
                        </div>
                        <div class="formIP">
                            <i class="fa-solid fa-key"></i>
                            <input type="password" name="password" ngModel placeholder="Password...">
                        </div>
                        <div class="formIP">
                            <i class="fa-solid fa-key"></i>
                            <input type="password" name="confirmPassword" ngModel placeholder="Confirm Password...">
                        </div>
                        <div class="link">
                            <button type="submit">Register</button>
                           <div class="div">
                            <a href="">Login Account <i class="fa-solid fa-arrow-right"></i></a>
                           </div> 
                        </div>
                    </form>
                    
                </div> 
            
    
        </div>
      </div>
    </div>
  </div>
</div>
