<div class="containers">
  <div class="containerss">
    <div class="banner">
      <img src="assets/img/bai1.jpg" alt="" />
    </div>
    <div class="list_album">
      <h2>{{'Outstanding' | translate}}</h2>
      <div class="item">
        <div class="item1" (click)="linkproduct('tatca')">
          <div class="item1_img">
            <img src="assets/img/bai3.jpg" alt="" />
          </div>
          <div class="item1_text">
            <h3>{{'New Music Every Week' | translate}}</h3>
            <p>{{'Various Artists' | translate}}</p>
          </div>
        </div>
        <div class="item1" (click)="linkproduct('list1')">
          <div class="item1_img">
            <img src="assets/img/bai7.jpg" alt="" />
          </div>
          <div class="item1_text">
            <h3>
              {{'Top Search' | translate}} </h3>
              <p>{{'Various Artists' | translate}}</p>          </div>
        </div>
        <div class="item1" (click)="linkproduct('list3')">
          <div class="item1_img">
            <img src="assets/img/bai5.jpg" alt="" />
          </div>
          <div class="item1_text">
            <h3>{{'Top Favorite Songs' | translate}}</h3>
            <p>{{'Various Artists' | translate}}</p>          </div>
        </div>
        <div class="item1" (click)="linkproduct('list2')">
          <div class="item1_img">
            <img src="assets/img/bai9.jpg" alt="" />
          </div>
          <div class="item1_text">
            <h3> {{'Top Music' | translate}}</h3>
            <p>{{'Various Artists' | translate}}</p>          </div>
        </div>
      </div>
    </div>

    <!-- hot song -->
    <div class="list_album">
      <h2>Hot Song</h2>
      <div class="list_ms">
        <div class="item_list" *ngFor="let x of datass" (click)="play(x.id)">
          <div class="item_list-bao">
            <div class="item_list-img">
              <img src="{{ x.img }}" alt="" />
            </div>
            <div class="item_list-text">
              <h3 style="margin: 0; font-size: 16px">{{ x.name }}</h3>
              <p>{{ x.casy }}</p>
            </div>
          </div>

          <div class="time none">
            <p>{{x.time}}</p>
          </div>
        </div>
      </div>
    </div>

   
<div class="newPlay" #css>
  <div class="containers">
    <div class="bao1">
      <div class="bao11" (click)="product(id)">
        <div class="img1">
          <img [src]="url" alt="" />
        </div>
        <div class="text1">
          <p
            style="
              color: #fff;
              margin: 0;
              padding: 0;
              font-size: 18px;
              font-weight: 400;
            "
          >
            {{ currentSong }}
          </p>
          <p style="color: #ffffff6d">{{ casy }}</p>
        </div>
      </div>
      <div class="souce">
        <audio [src]="currentSongimg" controls autoplay class="none">
          <source type="audio/mpeg" />
        </audio>
        <div class="iconlike">
          <a href="{{ currentSongimg }}" download="{{ currentSong }}"
            ><i class="fa-solid fa-download" (click)="check()"></i
          ></a>
          <i class="fa-solid fa-heart" (click)="addlist(id)"></i>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
