.containerss{
    height: 100vh;
    width: 100%;
    padding-top: 70px;
    display: grid;
    grid-template-columns: 35% 65%;
    position: relative;
}
.containerss_bg{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}
.containerss_bg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.user{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}
.usertitle{
    display: grid;
    grid-template-rows: 50% 50%;
}
.thongtin, .thongtin1{
    border: 1px solid #ccc;
    padding: 20px;
    backdrop-filter: blur(20px);
    margin: 20px;
    border-radius: 15px;
}
.thongtin1{
  height: 300px;
  padding: 10px;
  overflow: hidden;
}
.userbao{
    width: 100%;
    padding: 20px 15px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    text-align: center;
}
.hinh{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    margin: 15px auto;
    border: 8px solid #aa06a5da;
    
}
.hinh img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.usertext h1{
    margin: 20px auto;
    font-weight: 700;
    font-size: 30px;
}
.usertext p{
    color: #33333365;
    margin: 0;
    font-size: 18px;
}
.userbao button{
    margin-top: 15px;
    border-radius: 10px;

    padding: 8px 20px;
    font-size: 20px;
    font-weight: 500;
    background: #aa06a5da;
    border: 2px solid #aa06a5da;
    color: #fff;
    transition: 0.3s ease-in-out;
}
.userbao button:hover{
    background: none;
    color: #aa06a5da;
}
.icon{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.icon i{
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
    border: 2px solid #aa06a5da;
    font-size: 20px;
    color: #aa06a5da;
    transition: 0.2s ease-in-out;
}
.icon i:hover{
    background: #aa06a5da;
    color: #fff;
    box-shadow: 3px 3px 8px rgba(0,0,0,.4);
}
h1{
    background: linear-gradient(to left, #9b4de0, #aa06a5da);
  width: fit-content;
  font-weight: 700;
  margin: 15px 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tabAdd{
    background: #33333344;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .showadd{
    padding: 20px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0,0,0,.4);
  }
  
  
  input {
    width: 100%;
    padding: 10px 60px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #bdbdbd;
    font-size: 18px;
  }
  .formIP {
    display: flex;
    align-items: center;
    margin-top: 15px;
  }
  
  .formIP i {
    position: absolute;
    font-size: 18px;
    padding: 15px;
    border-right: 1px solid #bdbdbd;
  }
  .link {
    text-align: center;
    height: fit-content;
  }
  .listUser{
    height: 500px;
    overflow: hidden;
    overflow-y: auto;
  }
  .listUser::-webkit-scrollbar {
    width: 5px;
  }
  .listUser::-webkit-scrollbar-thumb {
    background-color: #565555;
    border-radius: 30px;
  }
  button.nnn {
    width: 200px;
    background: linear-gradient(to right, #9b4de0, #aa06a5da);
    padding: 5px;
    font-weight: 700;
    border-radius: 10px;
    margin: 20px 0 50px 0;
    border: none;
    outline: none;
    font-size: 30px;
    transition: 0.3s ease-in-out;
    color: #fff;
    margin:  20px;
  }
  button.nnn:nth-child(1) {
    background: none;
    border: 2px solid #aa06a5da;
    color: #aa06a5da;
  }
  button.nnn:hover {
    transform: scale(105%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }
  a {
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    color: #878787;
  }
  a:hover {
    color: #aa06a5da;
  }
  a i {
    margin-left: 10px;
  }


  .baobao{
    overflow: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 200px;
  }
  .baobao::-webkit-scrollbar {
    width: 5px;
  }
  .baobao::-webkit-scrollbar-thumb {
    background-color: #454444;
    border-radius: 30px;
  }
.listItem {
  width: 100%;
  display: grid;
  grid-template-columns: 90% 10%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid #ffffff0c;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;

}
.listItem:hover {
  background: #d2d2d2;
}
.title {
  display: flex;
  align-items: center;
}
.id p {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 0;
  padding-left: 20px;
  background: linear-gradient(#9b4de0, #aa06a5da);
  width: fit-content;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.img {
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin: 0 25px;
  border-radius: 10px;
}
.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text p {
  margin: 0;
  padding: 0;
  color: #333;
}
.text p:nth-child(1) {
  font-size: 18px;
  color: #333;
}
.text p:nth-child(2) {
  color: #333;
}

@media screen and (max-width: 820px) {
  .containerss{
    grid-template-columns: 100%;
    height: 100%;
  }
  .usertitle{
    grid-template-rows: 100%;
    display: block;
    padding-right: 30px;
  }
  input{
    height: 30px;
    padding: 5px 5px 5px 40px;
    font-size: 15px;
  }
  button.nnn {
    width: 120px;
    background: linear-gradient(to right, #9b4de0, #aa06a5da);
    padding: 5px;
    font-weight: 500;
    border-radius: 10px;
    margin: 10px 10px 20px 10px;
    border: none;
    outline: none;
    font-size: 20px;
    transition: 0.3s ease-in-out;
    color: #fff;
  }
  .tabAdd{
    position: fixed;
    top: 40px;
    left: 20px;
    width: 90%;
    height: 90%;
  }
  .formIP i {
    position: absolute;
    height: 30px;
    font-size: 15px;
    padding: 10px;
    border-right: 1px solid #bdbdbd;
  }
  .thongtin{
    height: fit-content;
  }
  .listItem{
    grid-template-columns: 100%;
    text-align: center;
    margin: 10px 0;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
  }
  .title{
    flex-direction: column;
  }
  .img {
    width: 70px;
    height: 70px;
    overflow: hidden;
    margin: 10px 0;
  }
  .none{
    display: none;
  }
  .text p:nth-child(1) {
    font-weight: 600;
  }
  .baobao{
    padding: 15px;
  }
}

@media screen and (max-width: 480px) {
  .containerss{
    grid-template-columns: 100%;
    height: 100%;
  }
  .usertitle{
    grid-template-rows: 100%;
    display: block;
    padding-right: 30px;
  }
  input{
    height: 30px;
    padding: 5px 5px 5px 40px;
    font-size: 15px;
  }
  button.nnn {
    width: 120px;
    background: linear-gradient(to right, #9b4de0, #aa06a5da);
    padding: 5px;
    font-weight: 500;
    border-radius: 10px;
    margin: 10px 10px 20px 10px;
    border: none;
    outline: none;
    font-size: 20px;
    transition: 0.3s ease-in-out;
    color: #fff;
  }
  .tabAdd{
    position: fixed;
    top: 40px;
    left: 20px;
    width: 90%;
    height: 90%;
  }
  .formIP i {
    position: absolute;
    height: 30px;
    font-size: 15px;
    padding: 10px;
    border-right: 1px solid #bdbdbd;
  }
  .thongtin{
    height: fit-content;
  }
  .listItem{
    grid-template-columns: 100%;
    text-align: center;
    margin: 10px 0;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
  }
  .title{
    flex-direction: column;
  }
  .img {
    width: 70px;
    height: 70px;
    overflow: hidden;
    margin: 10px 0;
  }
  .none{
    display: none;
  }
  .text p:nth-child(1) {
    font-weight: 600;
  }
  .baobao{
    padding: 15px;
  }
}