<div class="containers">
  <div class="toparti">
    <h1>Top Artists</h1>
    <div class="title">
      <ul >
        <li [class.active]="activeTab === 0" (click)="all('tatca', 0)" >
          Tất Cả
        </li>
        <li (click)="all('vietnam', 1)" [class.active]="activeTab === 1">
          Việt Nam
        </li>
        <li (click)="all('quocte', 2)" [class.active]="activeTab === 2" >
          Quốc Tế
        </li>
      </ul>
    </div>

  
    <div class="listItem" >
      <div class="item1" *ngFor="let r of list" (click)="play(r.id)">
        <div class="item1_img">
          <img src="{{ r.img }}" alt="" />
        </div>
        <div class="item1_text">
          <h3>{{ r.name }}</h3>
          <p>{{ r.casy }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="newPlay" #css (click)="product(id)">
    <div class="containers">
      <div class="bao1">
        <div class="bao11">
          <div class="img1">
            <img [src]="url" alt="" />
          </div>
          <div class="text1">
            <p style="color: #fff; margin: 0; padding: 0; font-size: 18px; font-weight: 400;">{{ currentSong }}</p>
            <p style="color: #ffffff6d;">{{casy}}</p>
          </div>
        </div>
        <div class="souce">
          <audio [src]="currentSongimg" controls autoplay>
            <source type="audio/mpeg" />
          </audio>
        </div>
      </div>
    </div>
  </div>
</div>
