<div class="img">
  <img src="assets/img/bgms.jpg" alt="">
</div>
<div class="containers">
  <div class="containerss">
    <div class="box_img">
      <div class="box_img-img1">
        <img [src]="img" alt="" />
      </div>
      <div class="loibaihat ann">
        <ul>
          <li *ngFor="let lyric of lyrics" [class.current]="lyric.highlighted">{{ lyric.text }}</li>
        </ul>
      </div>
      <div class="box_img-baihat">
        <h2>{{ name }}</h2>
        <p style="font-size: 20px; font-weight: 500; border-bottom: 1px solid #fff; padding: 10px 0;">{{ casy }}</p>
        <p style="text-align: justify">{{ title }}</p>
      </div>
    </div>
    <div class="box_content">
      <div class="loibaihat">
        <ul>
          <li *ngFor="let lyric of lyrics" [class.current]="lyric.highlighted">{{ lyric.text }}</li>
        </ul>
      </div>
      
        <div class="img11">
            <img src="assets/img/git1.gif" alt="">
        </div>
      <div class="box_icon">
        <i class="fa-solid fa-backward"></i>
        <i class="fa-solid fa-play"></i>
        <i class="fa-solid fa-forward"></i>
      </div>
      <div class="souce" style="display: none;">
        <audio #audioPlayer (timeupdate)="updateLyrics(audioPlayer)" [src]="url"  controls autoplay>
          <source type="audio/mpeg" />
        </audio>
      </div>
    </div>
  </div>
</div>
